  {% extends "lubesApp/base.html" %}

  {% load static %}

  {% block content %}

    <!-- Message -->
    <section class="page-section cta">
        <div class="row">
          <div class="col-sm-9 mx-auto py-0">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">LUBRICANTES AVELLANEDA S.A.U.</span>
                <span class="section-heading-lower">POLÍTICA DE CALIDAD</span>
              </h2>
              <p class="mb-0">
                  Con más de 75 años de experiencia a nuestras espaldas, 
                desde Gestión de Pedidos tenemos los conocimientos y herramientas necesarios para 
                llevar cualquier objeto a la puerta de su casa con puntualidad y profesionalidad.</p>
            </div>
          </div>
        </div>
    
    </section>
      <!-- Footer -->
      <footer class="footer text-faded text-center py-5">
        <div class="container">
          <p class="m-0">
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
        </p>
          <p class="m-0 mbt">
            <a href="sample.html" class="link">Facebook</a> ·
            <a href="sample.html" class="link">Instagram</a> ·
            <a href="sample.html" class="link">Puma Energy</a>
      </p>
          <p class="m-0 mbt1">&copy; Total Quality Management - Puma Lubricantes</p>
        </div>
    </footer>
  
      <!-- Bootstrap -->
      <script src="{% static 'lubesApp/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lubesApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
</header>

  </body>
{% endblock %}